/*Configuraciones generales de las columnas dentro de la grilla*/

.col-6 {
  margin-left: 350px;
  margin-top: 100px;
  font-family: 'Bitter', serif;
}

.login {
  margin-left: 100px;
  margin-top: 50px;
}

#access {
  font-family: 'Bitter', serif;
}

#caja-2 {
  display: none;
}

.col-2 {
  background-color: white;
  height: 100px;
  border: 4px solid white;
  content: url("imagenes/logo2.jpeg");
}

.col-2-costado {
  background-color: #FFE521;
  height: 100px;
  width: 900px;
  border: 6px solid white;
  text-align: center;
  font-family: 'Bitter', serif;
}

.col-2-columna {
  background-color: #FFE521;
  height: 500px;
  border: 4px solid white;
  width: 200px;
}

.col-3-costado {
  background-color: ffffff;
  height: 200px;
  width: 400px;
  border: 4px solid white;
  text-align: center;
  font-family: 'Bitter', serif;
  line-height: 100px;
  margin-left: 250px;
}

/*Se define la configuración del avatar de usuario*/

.avatarUser {
  height: 150px;
  width: 150px;
  background-position: 50%;
  border-radius: 50%;
  display: flex;
  margin: auto;
  font-family: 'Bitter', serif;
}

.studentInfo {
  float: right;
  padding: 10px;
}